#navbar {
	padding: 0 20px;
}

.nav {
	width: 100%;
}

.nav li {
	font-size: 18px;
	float: left;
}

.container {
	margin-top: 50px;
}

nav {
	height: 50px;
}

.active {
	color: #204277;
	font-weight: bold;
}